<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @platillo.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @platillo.descripcion %>
</p>

<p>
  <b>Calorias:</b>
  <%= @platillo.calorias %>
</p>

<p>
  <b>Grasas saturadas:</b>
  <%= @platillo.grasas_saturadas %>
</p>

<p>
  <b>Grasas trans:</b>
  <%= @platillo.grasas_trans %>
</p>

<p>
  <b>Proteinas:</b>
  <%= @platillo.proteinas %>
</p>

<p>
  <b>Colesterol:</b>
  <%= @platillo.colesterol %>
</p>

<p>
  <b>Fibra:</b>
  <%= @platillo.fibra %>
</p>

<p>
  <b>Azucares:</b>
  <%= @platillo.azucares %>
</p>

<p>
  <b>Potasio:</b>
  <%= @platillo.potasio %>
</p>

<p>
  <b>Carbohidratos:</b>
  <%= @platillo.carbohidratos %>
</p>

<p>
  <b>Fosforo:</b>
  <%= @platillo.fosforo %>
</p>

<p>
  <b>Sodio:</b>
  <%= @platillo.sodio %>
</p>

<p>
  <b>Calcio:</b>
  <%= @platillo.calcio %>
</p>

<p>
  <b>Hierro:</b>
  <%= @platillo.hierro %>
</p>

<p>
  <b>Aceites:</b>
  <%= @platillo.aceites %>
</p>

<p>
  <b>Vitamina c:</b>
  <%= @platillo.vitamina_c %>
</p>

<p>
  <b>Vitamina a:</b>
  <%= @platillo.vitamina_a %>
</p>


<%= link_to 'Edit', edit_platillo_path(@platillo) %> |
<%= link_to 'Back', platillos_path %>
