<p id="notice"><%= notice %></p>

<p>
  <b>Nombre pila:</b>
  <%= @nutriologo.nombre_pila %>
</p>

<p>
  <b>Nombre ap:</b>
  <%= @nutriologo.nombre_ap %>
</p>

<p>
  <b>Nombre am:</b>
  <%= @nutriologo.nombre_am %>
</p>

<p>
  <b>Email:</b>
  <%= @nutriologo.email %>
</p>

<p>
  <b>Password:</b>
  <%= @nutriologo.password %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @nutriologo.fecha_nacimiento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @nutriologo.sexo %>
</p>

<p>
  <b>Direccion calle:</b>
  <%= @nutriologo.direccion_calle %>
</p>

<p>
  <b>Direccion numero:</b>
  <%= @nutriologo.direccion_numero %>
</p>

<p>
  <b>Direccion colonia:</b>
  <%= @nutriologo.direccion_colonia %>
</p>

<p>
  <b>Direccion cp:</b>
  <%= @nutriologo.direccion_cp %>
</p>

<p>
  <b>Direccion cuidad:</b>
  <%= @nutriologo.direccion_cuidad %>
</p>

<p>
  <b>Telefono:</b>
  <%= @nutriologo.telefono %>
</p>

<p>
  <b>Cedula profesional:</b>
  <%= @nutriologo.cedula_profesional %>
</p>

<p>
  <b>Institucion:</b>
  <%= @nutriologo.institucion %>
</p>


<%= link_to 'Edit', edit_nutriologo_path(@nutriologo) %> |
<%= link_to 'Back', nutriologos_path %>
