<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :direccion_calle %><br />
    <%= f.text_field :direccion_calle %>
  </div>
  <div class="field">
    <%= f.label :direccion_numero %><br />
    <%= f.text_field :direccion_numero %>
  </div>
  <div class="field">
    <%= f.label :direccion_colonia %><br />
    <%= f.text_field :direccion_colonia %>
  </div>
  <div class="field">
    <%= f.label :direccion_cp %><br />
    <%= f.text_field :direccion_cp %>
  </div>
  <div class="field">
    <%= f.label :direccion_cuidad %><br />
    <%= f.text_field :direccion_cuidad %>
  </div>
  <div class="field">
    <%= f.label :direccion_estado %><br />
    <%= f.text_field :direccion_estado %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :horario %><br />
    <%= f.text_field :horario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
