<h1>Listing etiqueta</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @etiqueta.each do |etiquetum| %>
  <tr>
    <td><%= etiquetum.nombre %></td>
    <td><%= etiquetum.descripcion %></td>
    <td><%= link_to 'Show', etiquetum %></td>
    <td><%= link_to 'Edit', edit_etiquetum_path(etiquetum) %></td>
    <td><%= link_to 'Destroy', etiquetum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Etiquetum', new_etiquetum_path %>
