<p id="notice"><%= notice %></p>

<p>
  <b>Nombre pila:</b>
  <%= @usuario.nombre_pila %>
</p>

<p>
  <b>Nombre ap:</b>
  <%= @usuario.nombre_ap %>
</p>

<p>
  <b>Nombre am:</b>
  <%= @usuario.nombre_am %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Password:</b>
  <%= @usuario.password %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @usuario.fecha_nacimiento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @usuario.sexo %>
</p>

<p>
  <b>Direccion calle:</b>
  <%= @usuario.direccion_calle %>
</p>

<p>
  <b>Direccion numero:</b>
  <%= @usuario.direccion_numero %>
</p>

<p>
  <b>Direccion colonia:</b>
  <%= @usuario.direccion_colonia %>
</p>

<p>
  <b>Direccion cp:</b>
  <%= @usuario.direccion_cp %>
</p>

<p>
  <b>Direccion cuidad:</b>
  <%= @usuario.direccion_cuidad %>
</p>

<p>
  <b>Telefono:</b>
  <%= @usuario.telefono %>
</p>

<p>
  <b>Altura:</b>
  <%= @usuario.altura %>
</p>

<p>
  <b>Peso:</b>
  <%= @usuario.peso %>
</p>

<p>
  <b>Ingestas diarias:</b>
  <%= @usuario.ingestas_diarias %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
