<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @alimento.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @alimento.descripcion %>
</p>

<p>
  <b>Calorias:</b>
  <%= @alimento.calorias %>
</p>

<p>
  <b>Grasas saturadas:</b>
  <%= @alimento.grasas_saturadas %>
</p>

<p>
  <b>Grasas trans:</b>
  <%= @alimento.grasas_trans %>
</p>

<p>
  <b>Proteinas:</b>
  <%= @alimento.proteinas %>
</p>

<p>
  <b>Colesterol:</b>
  <%= @alimento.colesterol %>
</p>

<p>
  <b>Fibra:</b>
  <%= @alimento.fibra %>
</p>

<p>
  <b>Azucares:</b>
  <%= @alimento.azucares %>
</p>

<p>
  <b>Potasio:</b>
  <%= @alimento.potasio %>
</p>

<p>
  <b>Carbohidratos:</b>
  <%= @alimento.carbohidratos %>
</p>

<p>
  <b>Fosforo:</b>
  <%= @alimento.fosforo %>
</p>

<p>
  <b>Sodio:</b>
  <%= @alimento.sodio %>
</p>

<p>
  <b>Calcio:</b>
  <%= @alimento.calcio %>
</p>

<p>
  <b>Hierro:</b>
  <%= @alimento.hierro %>
</p>

<p>
  <b>Aceites:</b>
  <%= @alimento.aceites %>
</p>

<p>
  <b>Vitamina c:</b>
  <%= @alimento.vitamina_c %>
</p>

<p>
  <b>Vitamina a:</b>
  <%= @alimento.vitamina_a %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @alimento.cantidad %>
</p>

<p>
  <b>Medida:</b>
  <%= @alimento.medida %>
</p>


<%= link_to 'Edit', edit_alimento_path(@alimento) %> |
<%= link_to 'Back', alimentos_path %>
